@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=PT+Serif:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins,sans-serif';
}
:root{
    --sideBGColor: #040b14;
    --themeColor: #82b7f5;
    --iconBGColor:#2C2F3F ;
    --sideBGColor:#525252 ;
    --sideBGColor: #1ccfdb;

}


header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color:#040b14;
    overflow-y: auto;
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    transition:0.4s;
    z-index:99;
}
header.profile{
    text-align: center ;
    margin: 10px 0;

}
header.profile img{
    width:150px;
    border-radius: 50%;
    border:10px solid #2C2F3F;

}
header .profile h1{
    color: #f7f7f7;
    font-weight: 600;

}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align:center;
    line-height: 37px;
    background-color: #2C2F3F;
    color: white;
    font-size: 18px;
    margin:1.5px;
    transition:0.4s;
}
header .profile .social-icons a:hover{
    background-color: #00A7BE;
}
header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;

}
header nav ul li a
{
    display:inline-block;
    text-decoration:none;
    padding: 7px 10px;
    margin : 7px 0;
    color: lightgrey;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color:#00A7BE;
}
header nav ul li .active i{
    color:#00A7BE;
}
header .footer{
    text-align: center;
    background-color: #040b14;
    width: 300px;
    color: lightgrey;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom:0;
    left: 0;
    transition: 0.4s;
}
header .footer p a{
    color: #00A7BE;
}
#MenuBtn{
    position:fixed;
    top: 25px;
    right:25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #00A7BE;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow:0 0 20px rgba(0,0,0,20%);
    display:none;
    z-index: 999;
}
@media only screen and (max-width:1050px){
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;

    }
}
.mobile-nav-active header{
    left:0;

}.mobile-nav-active  header .footer{
    left: 0;
}

main{
    margin-left: 300px;
    background-color : var(--bgColor);
    transition:0.3s;
}
@media only screen and (max-width : 1050px){
    main{
        margin-left: 0;
    }
}
#home{
    height: 100vh;
    width: 100%;
    background-image: url(2.jpg);
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 70px;
    position: relative;
}
#home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.431);
    position: absolute;
    top:0;
    left:0;
}
#home .home-row{
    z-index: 1;
}
#home .home-row h1{
    font-size: 50px;
    color:#f7f7f7;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}
#home .home-row h1 span{
    color: #00A7BE;
}
#home .home-row p{
    color:whitesmoke;
    font-size: 30px;
    font-weight: 500;

}
#home .home-row p span{
    border-bottom: 4px solid #00A7BE;
}
@media only screen and (max-width: 67px){
    #home{
        padding: 30px;
    }
    #home .home-row h1{
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }
    #home .home-row h1 br{
        display:none;
    }
    #home .home-row p{
        color: whitesmoke;
        font-size: 30px;
        font-weight: 500;

    }
}
#about{
    padding:70px 30px;
    color:#393636;

}
.row{
    margin-top: 50px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap: 20px;
    width: 100px;
}
/* about section*/

.about-col-2{
    flex-basis:60%;
    border-radius:15px;
}
#about-col-2{
    padding: 50px 15px;

}
#about-col-2.divider ~p{
    font-size: 15px;
    letter-spacing: 0.4px;
    text-align: justify;
}
.subtitle{
    font-size:60px;
    font-weight:600;
    color:hsla(187, 90%, 19%, 0.663);

}
.tab-titles{
    display:flex;
    margin:20px 0 40px;

}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#00A7BE;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;

}
.tab-contents ul li span{
    color:#00A7BE;
}
.tab-contents{
    display:none;

}
.tab-contents.active-tab{
    display: block;
}

@media only screen and (max-width:830px){
    #about{
        padding: 50px 10px;
    }
    #about .about-col-1{

        flex-direction: column;
    }
    #about .about-col-1 img{
        width:50%
    }

}
#service{
    padding: 70px 30px;
}
.sub-heading{
    color: #040b14;
    font-size: 30px;
    margin-bottom:10px;

}
.divider{
    width:80px;
    height: 4px;
    background-color: #00A7BE;
    border-radius: 3px;

}
#service .divider ~ p{
    color:var(--textcolor);
    font-size: 18px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
}
#service .service-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}
#service .service-row .service-box{
    display: flex;
    gap: 20px;
}
#service .service-row .service-box .icon i{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    font-size: 22px;
    line-height: 46px;
    background-color: var(--themeColor);
    color: var(--bgColor);
    transition: 0.7s;
    text-align: center;
}
#service .service-row .service-box:hover .icon i{
    color: #00A7BE;
    background-color: var(--bgColor);
}
#service .service-row .service-box .ser-info h4{
    color: #2C2F3F;
    font-size: 20px;
    font-weight: 600;
}
#service .service-row .service-box .ser-info h4 + p{
    color: var(--textColor);
    font-size: 14px;
    font-weight: 500;

}
@media only screen and (max-width: 850px){
    #service{
        padding: 50px 15px;

    }
    #service .divider ~p{
        font-size: 15px;
        letter-spacing: 0.4px;
        text-align: justify;
    }
    #service .service-row{
        grid-template-columns: repeat(2,1fr);
        grid-gap:15px;
    }
}
@media only screen and (max-width: 550px){


    #service .service-row{
        grid-template-columns: repeat(1,1fr);
        grid-gap:15px;
    }
}
#portfolio{
    padding: 70px 30px;
}
#portfolio .port-row{
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
}
#portfolio .port-row .port-item{
    position: relative;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
}

#portfolio .port-row .port-item .port-img img{
    width: 100%;
    border-radius: 10px;

}
#portfolio .port-row .port-item .port-info{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: #6ee3f3;
    padding: 0 15px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    transform: scale(0);
    transition: 0.4s;


}
#portfolio .port-row .port-item:hover .port-info{
    transform: scale(1);
    visibility: visible;
}
#portfolio .port-row .port-item .port-info h4{
    color: var(--bgColor);
    font-size: 25px;
    font-weight: 600;
}
#portfolio .port-row .port-item .port-info h4 + p{
    color: var(--bgColor);
    font-size: 14px;

}
#portfolio .port-row .port-item .port-info a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: var(--bgColor);
    border-radius: 50px;
    color:#00A7BE;
    line-height: 46px;
    transition: 0.4s;

}
#portfolio .port-row .port-item .port-info a:hover{
    background-color: var(--sideBGColor);
    color: var(--bgColor)
}

@media only screen and (max-width:650px){
    #portfolio{
        padding: 50px 10px;
    }
    #portfolio .port-row{
        grid-template-columns: repeat(2,1fr);
        grid-gap:15px;
    }
}
@media only screen and (max-width :350px){
    #portfolio .port-row{
        grid-template-columns: repeat(1,1fr);
        grid-gap:15px;
    }
}

#contact{
    padding: 70px 30px;
}
#contact .contat-row{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100px;

}
#contact .contact-row .contact-left{
    flex-basis: 40%;
    min-width: 40%;
    background-color:WHITE;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    border-radius: 4px;
    padding: 30px;
}
#contact .contact-row .contact-left .icon-box{
    display:flex;
    gap:15px;
    align-items: center;
    margin: 30px 0;

}
#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.5s;
}
#contact .contact-row .contact-left .icon-box:hover .icon i{
    background-color: #00A7BE;
    color: var(--bgColor);

}
#contact .contact-row .contact-left .icon-box .icon h4{
    font-size: 20px;
    color: var(--sideBGColor);
    font-weight: 600;
}
#contact .contact-row .contact-left .icon-box .icon h4+p{
    color:var(--textColor);
    font-size: 15px;
    font-weight: 500;

}